{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>

    <div>
        <p>Rango says here is the about page.</p>
        <img src="{% static "images/rango.jpg" %}"
                alt="Picture of Rango"/><br/>
        <p>visits: {{ visits }}</p>
    </div>
    <button onclick="alert('You clicked the button using Javascript.');">
        Click me - I run Javascript
    </button>
    <br />
    <br />
    <button id="about-btn">Click Me - I'm Javascript on Speed</button>
    <div id="msg">Hello</div>
    <p>This is a example</p>
    <p>This is a another example</p>
{% endblock %}