{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Add a Page{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Page</h1>
    </div>
    <div>
        {% if category %}
            <form role="form" id="page_form" method="POST"
                  action="{% url 'rango:add_page' category.slug %}">
                <h2 class="form-signin-heading">Add a Page to
                    <a href="{% url 'rango:category' category.slug %}">
                        {{ category.name }}
                    </a>
                </h2>
                {% csrf_token %}

                {{ form|as_bootstrap }}

                <br/>

                <button class="btn btn-primary" type="submit" name="submit">
                    Add Page
                </button>
            </form>
        {% else %}
            A category by this name does not exist
        {% endif %}
    </div>
{% endblock %}